@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
}

div {
  border: 1px solid red;
}

h3 {
  margin-top: 0;
  font-size: 36px;
}

h4 {
  font-size: 24px;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--c-txt-white);
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/*--- Shared ---*/

#header,
#sectionOne,
.sectionCenter {
  max-width: 1280px;
}

.wrapper, 
.sectionCenter {
  display: flex;
  justify-content: center;
}

.sectionCenter {
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
}


/*--- Main Classes and IDs -----*/

.headerWrap{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: #1F2937;
}

.wrapper:first-of-type{
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 1 auto;
  padding: 22px 16px 22px 16px;
  gap: 5rem;
}

.navLogo {
  align-self: flex-start;

}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  flex: 0 1 auto;
  gap: 3rem;
}

#sectionOne {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  flex: 0 1 0;
  gap: 3rem;
}

#heroLeft,
#heroRight {
  flex: 1 1 0;
}

#heroLeft {
  align-self: flex-start;
}

#heroRight {
  align-items: flex-end;
  align-self: center;
}

#heroRight img {
  flex: 1;
  object-fit: cover;
  max-height: calc(214px + 1rem);
  border-radius: 7px;
}

#sectionTwo {}

#sectionThree {}

#sectionFour {}

.button-1 {}

.button-2 {}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 1 0px;
  background-color: rgb(226, 226, 226);
  padding: 16px;
}