@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
}

h2 {
  font-size: 42px;
  color: #F9FAF8;
  font-weight: bolder;
  margin: 0;
}

h3 {
  margin-top: 0;
  font-size: 36px;
}

h4 {
  font-size: 24px;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--c-txt-white);
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
  text-decoration: none;
  color: initial;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 2em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}


/*--- Shared ---*/

#header,
#sectionOne,
.sectionCenter {
  max-width: 1280px;
}

.wrapper,
.sectionCenter {
  display: flex;
  justify-content: center;
}

.sectionCenter {
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
}


/*--- Main Classes and IDs -----*/

.headerWrap {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: #1F2937;
}

.headerWrap p {
  color: #E5E7EB;
}

.wrapper:first-of-type {
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 1 auto;
  padding: 18px 0px 10px 0px;
  gap: 5rem;
}

.navLogo {
  align-self: flex-start;
  flex: 0 2 0;
  width: fit-content;

}

.navLogo img {
  height: 75px;
  width: auto;
  object-fit: fill;
}

@media (max-width: 800px) {
  .navLogo img {
    height: 50px;
    width: auto;
    object-fit: fill;
  }
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex: 1 1 auto;
  gap: 3rem;
  color: #f9f9f9;
}

#sectionOne {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  flex: 0 1 0;
  gap: 3rem;
  padding-bottom: 3em;
  padding-top: 1em;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#heroLeft,
#heroRight {
  flex: 1 1 0;
}

#heroLeft {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  max-width: 500px;
  gap:0.6em;

}

#heroRight {
  display: flex;
  align-items: flex-end;
  align-self: center;
}

#heroRight img {
  flex: 1;
  object-fit: cover;
  max-height: calc(214px + 1rem);
  border-radius: 7px;
}

@media (max-width:600px){
  #sectionOne {
  flex-direction: column;
  }

  #heroLeft {
    align-self: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width:80%;
  }
}

.button-1 {
  align-self: center;
  width: 40%;
}

#sectionTwo {
  display: flex;
  flex-basis: 100%;
  padding-bottom: 5em;
}

.galleryBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2.8em;
}

.infoBox {
  width: 170px;
  height: 170px;
}

.infoBox img {
  height: 170px;
  width: auto;
  border-radius: 25px; 
}

@media (max-width:800px) {
  .galleryBox {
    gap: 0.5em;
  }
}

@media (max-width:600px) {
  .galleryBox {
    flex-direction: column;
    justify-content: center;
    gap: 0.1em;
  }

  .infoBox {
    display: inline-block;
    width: 250px;
    height: auto;
  }

  .infoBox img {
    height: auto;
    width: 250px;
  }
}

.wrapper:nth-of-type(3){
  background-color: #1F2937;
}

#sectionThree {
  max-width: 775px;
  margin-bottom: 3rem;
}

#sectionThree figcaption{
  font-size: large;
  color: #eee;
}

#sectionFour{
  max-width: 750px;
  background-color: #3882F6;
  margin: 10px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 25px 5rem 25px 5rem;
  border-radius: 25px;
}

#sectionFour p{
  color:#eee;
}

#sectionFour .button-1 {
  align-self: flex-end;
  color: #eee;
  border: 1px solid #eee;
  background-color: #3882F6;
}

.flex-end{
  align-self: flex-end;
  padding-right: 6rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 0 1 0px;
  background-color: rgb(226, 226, 226);
  padding: 16px;
}